.container
  .row
    .col-md-12.text-center
      .footer_link= "Copyright © SECUBAT #{Date.current.year}"
      #pdf_link.footer_link
        \|
        = link_to "Version PDF", index_path(:format => "pdf")